In [17]:
import pandas as pd
import wget
import pyarrow
import pyarrow.parquet as pq
from sqlalchemy import create_engine

In [13]:
output_file_path = 'csv_file_output.csv'


empty_list = []
for month in ['%0.2d' % i for i in range(1, 3)]:
    result = wget.download(f'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-{month}.parquet')
    table = pq.read_table(result)
    df = table.to_pandas()
    empty_list.append(df)
    merged_table = pd.concat(empty_list)
merged_table.to_csv(output_file_path, index=False)

In [14]:
df =pd.read_csv('csv_file_output.csv', low_memory=False)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [25]:
df.shape

(5443362, 19)

In [20]:
conn_string = 'postgresql://postgres:0296@localhost:5433/taxi_trip_record'
db = create_engine(conn_string)
conn = db.connect()

In [22]:
df.to_sql(name='yellow_cabs_trips', con=conn, if_exists='replace',index=False, chunksize=20000)

272362